.course {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .course-info {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
  }
  
  .enrolled-students {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
  }
  
  .course-content {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
  }
  
  /* .course-content ul {
    list-style
  }   */