.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 5cm;
    height: 80vh;
    background-color: #F3F3F3;
  }
  
  .login-img {
    width: 45%;
    margin-right: 2rem;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 80%;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
.course-form{
    color: black;
  }
  .login-form-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.0rem;
    text-align: center;
  }
  
  .login-form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    width: 80%;
  }
  .login-form-item-lb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    width: 80%;
    cursor: pointer;
  }
  
  .login-form-item label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    
  }
  
  .login-form-item input {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #F3F3F3;
    width: 100%;
  }
  
  .login-form-item button {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    cursor: pointer;
  }
  
  .login-form-item button:hover {
    background-color: #3E8E41;
  }
  
  .login-form-item input[type="submit"] {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    cursor: pointer;
  }
  
  .login-form-item input[type="submit"]:hover {
    background-color: #3E8E41;
  }
  .login-form-item-sb{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    width: 80%;
    cursor: pointer;
  }
  