.App {
  min-height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
main{
  /* flex-grow: 1; */
  height: 35em;
  /* height: 100%; */
  display: grid;
  place-content: center;
  /* background-color: blue; */
}


/*

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
